<div id="img-upload-form">
<select name="properties[drop]" data-property="offset" id="repeat-drop"><option value="None" data-value="1">None</option><option value="Half Vertical" data-value="2" data-property="offset" data-offset="vertical">&frac12; Vertical Drop</option><option value="Third Vertical" data-value="3" data-property="offset" data-offset="vertical">&frac13; Vertical Drop</option>
  <option value="Quarter Vertical" data-value="4" data-property="offset" data-offset="vertical"> &frac14; Vertical Drop</option><option value="Half Horizontal" data-value="2" data-property="offset" data-offset="horizontal">&frac12; Horizontal Drop</option><option value="Third Horizontal" data-value="3" data-property="offset" data-offset="horizontal">&frac13; Horizontal Drop</option>
  <option value="Quarter Horizontal" data-value="4" data-property="offset" data-offset="horizontal">&frac14; Horizontal Drop</option></select>
<div id="repeat-creator-toolbar" class="btn-group btn-group-justified">
  <button id="mask-color" class="btn btn-default">Select a mask color</button>
  <button id="save-repeat" class="btn btn-default">Save Repeat</button>
  <a id="download-repeat" href="#" class="btn btn-default" target="_blank">Download Repeat</a>
</div>
<div class="img-upload" id="img-upload-wrap"><div class="user-images">
</div></div>
  <script>
          var w2f_settings = w2f_settings || {};
		  var img_data = img_data || {};
          w2f_settings.shop_module = ["img-upload"];
          w2f_settings.auth_key = "4fa8b042b97ef831865ffbbebdaad73c";
          w2f_settings.customer = 629008644;

          w2f_settings.debug = false;
          w2f_settings.debug_url = "{{siteurl}}/";
          w2f_settings.debug_static = w2f_settings.debug_url + 'static/';

 
  
          (function() {
            var mn = document.createElement('script'); mn.type = 'text/javascript'; mn.async = true; mn.src = ('https:' == document.location.protocol ? 'https://' : 'https://') + 'w2ftest.web2fabric.com/static/js/mm.js';

            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(mn, s);
          })();

          function mm_userimages_callback( count ) {
            if ( count == 5 ) {
              document.getElementById('save-repeat').disabled = true;
            }
          }
  </script></div><div id="container"></div>