<span id="designWindow">
  <script src="js/jquery.min.js"></script>
  <script src="js/rangeslider.min.js"></script>
  <script src="js/jquery.slidereveal.min.js"></script>
  <script src="app.js"></script>
  <span class="designViewTools">
    <span class="repeatContainer"></span>
    <strong>Design Information</strong>
    <br>Repeat
    <span id="designXY"></span>
    <span id="repMsg"></span>
    <span id="resXY"></span>
    <span id="repDesignXY"></span>
    <button type="button" id="adv">Advanced -> </button>
    <label for="repWSl">Width</label>
    <input type="range" id="repWSl" class="rangeSlider" oninput="wRange(this.value)" onchange="wRange(this.value)">
    <label for="repHSl">Height</label>
    <input type="range" id="repHSl" class="rangeSlider" oninput="vRange(this.value)" onchange="vRange(this.value)">
    <label for="repZSl">Zoom</label>
    <input type="range" id="repZSl" class="rangeSlider" oninput="zRange(this.value)" onchange="zRange(this.value)">
  </span>
  <canvas id="repeat-creator-canvas">Lorem</canvas>
  <div id="repeat-creator-toolbar" class="toolbar form-inline form-group inline clearfix">
    <div class="container-fluid">
      <div class="input-group">
        <button id="mask-color" class="btn btn-default">Select a mask color</button>
      </div>
      <div class="input-group">
        <select name="properties[drop]" data-property="offset" id="repeat-drop">
          <option value="None" data-value="1">None</option>
          <option value="Half Vertical" data-value="2" data-property="offset" data-offset="vertical">
            &frac12; Vertical Drop
          </option>
          <option value="Third Vertical" data-value="3" data-property="offset" data-offset="vertical">
            &frac13; Vertical Drop
          </option>
          <option value="Quarter Vertical" data-value="4" data-property="offset" data-offset="vertical">
            &frac14; Vertical Drop
          </option>
          <option value="Half Horizontal" data-value="2" data-property="offset" data-offset="horizontal">
            &frac12; Horizontal Drop
          </option>
          <option value="Third Horizontal" data-value="3" data-property="offset" data-offset="horizontal">
            &frac13; Horizontal Drop
          </option>
          <option value="Quarter Horizontal" data-value="4" data-property="offset" data-offset="horizontal">
            &frac14; Horizontal Drop
          </option>
        </select>
      </div>
      <div class="input-group">
        <button id="save-repeat" class="btn btn-default">Save Repeat</button>
      </div>
      <div class="input-group">
        <a id="download-repeat" href="#" class="btn btn-default" target="_blank">Download Repeat</a>
      </div>
      <div class="input-group">
        <div class="img-upload" id="img-upload-wrap">
          <form id="img-upload-form"></form>
        </div>
      </div>
    </div>
    <div class="user-images">
      <img id="markup" src="assets/floral2.jpg">
    </div>
  </div>
  <div id="test-canvas"></div>

  <span id="advanced" class="advanced">
    <span id="TL">
      <label>On Mask Only
        <input type="checkbox" id="TLBO" label="On Mask Only" change="displayThumb()" fontSize="13" checked />
      </label>
      <label>Include
        <input type="checkbox" id="TLInc" label="Include" change="displayThumb()" fontSize="13" checked />
      </label>
      <img id="gridTL" src="assets/TL.png" />
    </span>
    <span id="TC">
      <label>On Mask Only
        <input type="checkbox" id="TCBO" label="On Mask Only" change="displayThumb()" fontSize="13" checked />
      </label>
      <label>Include
        <input type="checkbox" id="TCInc" label="Include" change="displayThumb()" fontSize="13" checked />
      </label>
      <img id="gridTC" src="assets/TC.png" />
    </span>
    <span id="TR">
      <label>On Mask Only
        <input type="checkbox" id="TRBO" label="On Mask Only" change="displayThumb()" fontSize="13" checked />
      </label>
      <label>Include
        <input type="checkbox" id="TRInc" label="Include" change="displayThumb()" fontSize="13" checked />
      </label>
      <img id="gridTR" src="assets/TR.png" />
    </span>
    <span id="ML">
      <label>On Mask Only
        <input type="checkbox" id="MLBO" label="On Mask Only" change="displayThumb()" fontSize="13" checked />
      </label>
      <label>Include
        <input type="checkbox" id="MLInc" label="Include" change="displayThumb()" fontSize="13" checked />
      </label>
      <img id="gridML" src="assets/ML.png" />
    </span>
    <span id="MR">
      <label>On Mask Only
        <input type="checkbox" id="MRBO" label="On Mask Only" change="displayThumb()" fontSize="13" checked />
      </label>
      <label>Include
        <input type="checkbox" id="MRInc" label="Include" change="displayThumb()" fontSize="13" checked />
      </label>
      <img id="gridMR" src="assets/MR.png" />
    </span>
    <span id="BL">
      <label>On Mask Only
        <input type="checkbox" id="BLBO" label="On Mask Only" change="displayThumb()" fontSize="13" checked />
      </label>
      <label>Include
        <input type="checkbox" id="BLInc" label="Include" change="displayThumb()" fontSize="13" checked />
      </label>
      <img id="gridBL" src="assets/BL.png" />
    </span>
    <span id="BC">
      <label>On Mask Only
        <input type="checkbox" id="BCBO" label="On Mask Only" change="displayThumb()" fontSize="13" checked />
      </label>
      <label>Include
        <input type="checkbox" id="BCInc" label="Include" change="displayThumb()" fontSize="13" checked/>
      </label>
      <img id="gridBC" src="assets/BC.png" />
    </span>
    <span id="BR">
      <label>On Mask Only
        <input type="checkbox" id="BRBO" label="On Mask Only" change="displayThumb()" fontSize="13" checked />
      </label>
      <label>Include
        <input type="checkbox" id="BRInc" label="Include" change="displayThumb()" fontSize="13" checked />
      </label>
      <img id="gridBR" src="assets/BR.png" />
    </span>
  </span>
  <script>
    $('.advanced').slideReveal({
      trigger: $('#adv'),
      position: 'right',
      push: false,
      overlay: false,
      autoEscape: true
    })
    $('input[type="range"]').rangeslider({
      polyfill: true,
      onInit: function () {sliderChange()},
      onSlide: function () {sliderChange()},
      onSlideEnd: function () {sliderChange()}
    })
  </script>
</span>