body {
  overflow: hidden;
  background-color: #888888FF
}

#menu {
  border:solid 1px;
}

#container {
  z-index: 0;
}

#buttons {
  position: absolute;
  left: 10px;
}
button {
  display: block;
}

.advanced {
  align-content: center;
  background-color: rgb(50, 50, 50, 0.80);
  color: lightgray;
  font-weight: 700;
  z-index: 1001;
  right: 0;
  width: 75%;
}

#rep_designXY {
  float: left;
  background-color: rgb(255, 255, 255, 0.85);
  color: black;
  visibility: hidden;
}

#designName {
  float: left;
  left: 0;
  visibility: hidden;
}

span#thumbHolder {
  position: fixed;
  align-content: center;
}

img#thumbNail {
  position: fixed;
  align-content: center;
}

.container-fluid {
  align-content: center;
}