@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background: #e0e0e0;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 90%;
}
@media (min-width: 400px) {
  body {
    font-size: 100%;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1em;
}

li, p, blockquote {
  line-height: 1.5em;
}

a {
  color: #007bb6;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

.wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 960px) {
  .wrapper {
    width: 960px;
  }
}

.browsehappy {
  margin: 0;
  background: orange;
  color: #111;
  padding: 0.5em 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "fontello";
  src: url("fonts/fontello.eot?50775946");
  src: url("fonts/fontello.eot?50775946#iefix") format("embedded-opentype"), url("fonts/fontello.woff?50775946") format("woff"), url("fonts/fontello.ttf?50775946") format("truetype"), url("fonts/fontello.svg?50775946#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fontello-icon:before, [class^=icon-]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
}

.icon-download:before {
  content: "";
}

.icon-upload:before {
  content: "";
}

.icon-reset:before {
  content: "";
}

.icon-info:before {
  content: "";
}

.icon-grid:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-right:before {
  content: "";
}

.icon-gplus:before {
  content: "";
}

.icon-share:before {
  content: "";
}

.icon-left:before {
  content: "";
}

.icon-zoom-in:before {
  content: "";
}

.icon-zoom-out:before {
  content: "";
}

.icon-ccw:before {
  content: "";
}

.icon-cw:before {
  content: "";
}

#canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}

header {
  position: relative;
  width: 100%;
  background: #222;
  border-bottom: 1px solid #111;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  padding: 0.7em 2em;
  color: #fff;
  z-index: 3;
  *zoom: 1;
}
header:before, header:after {
  content: "";
  display: table;
}
header:after {
  clear: both;
}
@media (min-height: 600px) and (min-width: 1140px) {
  header {
    padding: 1em 3em;
  }
}
header nav {
  float: right;
}

.title {
  float: left;
}
.title h1 {
  margin: 0;
  font-size: 1em;
  display: inline-block;
  vertical-align: middle;
}

.btn {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  vertical-align: middle;
  font-size: 0.9em;
  color: #fff;
  text-decoration: none;
  padding: 0.15em 0;
  margin: 0 0.6em;
}
.btn span {
  display: none;
}
@media (min-width: 400px) {
  .btn {
    margin: 0 1em;
  }
}
@media (min-width: 500px) {
  .btn:hover, .btn:focus {
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
  }
  .btn span {
    display: inline;
  }
}
@media (min-width: 768px) {
  .btn {
    margin: 0 2em;
  }
}

.upload {
  position: relative;
  overflow: hidden;
}
.upload input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}

.values {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0.4em 0 0.2em 1.5em;
  font-size: 0.9em;
  border-radius: 0 3px 0 0;
  transition: all ease 0.1s;
  text-shadow: 0 1px 2px black;
}
.values:hover {
  background: #111;
}
.values span {
  font-weight: bold;
  margin-left: 0.3em;
  margin-right: 1.6em;
}

.cropper {
  position: relative;
  width: 300px;
  height: 300px;
  border: 6px solid #fff;
  border-width: 0 6px 6px 0;
  border-radius: 0 0 3px 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.cropper nav {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}
.cropper nav button {
  border: none;
  background: steelblue;
  text-decoration: none;
  color: white;
  padding: 0.4em;
  display: block;
  float: left;
  border-left: 1px solid #3f75a2;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
  cursor: pointer;
  outline: none;
  transition: all ease 0.1s;
  width: 20%;
}
.cropper nav button:hover, .cropper nav button:focus {
  border-color: #38678f;
  background: #3f75a2;
}
.cropper nav button:first-child {
  border: none;
}
@media (min-width: 768px) and (min-height: 600px) {
  .cropper {
    width: 50vmin;
    height: 50vmin;
  }
  .cropper nav {
    width: auto;
  }
  .cropper nav button {
    padding: 0.4em 1em;
    width: auto;
  }
  .cropper nav button:first-child {
    border-radius: 4px 0 0 0;
  }
}

.toggle {
  position: absolute;
  width: 1.5em;
  height: 2.5em;
  right: -1.5em;
  font-size: 1em;
  top: 50%;
  margin-top: -2em;
  background: white;
  border: none;
  border-radius: 0 100% 100% 0;
  cursor: pointer;
  text-align: center;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
  z-index: 0;
  outline: none;
  transition: all ease 0.1s;
}
.toggle:hover, .toggle:focus {
  width: 2em;
  right: -2em;
}
.toggle i:before {
  width: auto;
  margin: 0;
}

.modal {
  position: absolute;
  left: 5%;
  top: 5vh;
  width: 90%;
  transition: all ease 0.4s;
  padding: 1em;
  background: #f0f0f0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), 0 0 0 3px rgba(255, 255, 255, 0.5);
  pointer-events: none;
  transform: scale(0) translate3d(0, 0, 0);
  opacity: 0;
  z-index: 6;
}
@media (min-width: 768px) {
  .modal {
    width: 700px;
    left: 50%;
    top: 10vh;
    margin-left: -370px;
    padding: 2em;
  }
}
.showModal .modal {
  transform: scale(1) translate3d(0, 0, 0);
  opacity: 1;
  pointer-events: auto;
}
.modal .closeModal {
  position: absolute;
  right: -0.5em;
  top: -0.5em;
  width: 1em;
  height: 1em;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 0.9em;
  border-radius: 50%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 3px rgba(255, 255, 255, 0.6);
  font-weight: bold;
  background: #333;
  font-size: 2em;
  transition: all ease 0.1s;
}
.modal .closeModal:hover, .modal .closeModal:focus {
  background: #111;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 3px rgba(255, 255, 255, 0.9);
}
.modal *:first-child {
  margin-top: 0;
}

.modalBg {
  content: "";
  pointer-events: none;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  transform: translate3d(0, 0, 0);
  transition: all ease 0.4s;
  cursor: pointer;
}
.showModal .modalBg {
  opacity: 1;
  pointer-events: auto;
}
