{% load staticfiles %}
<title>Web2Fabric Repeat Creator</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ baseurl }}{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{{ baseurl }}{% static 'css/general.css' %}" rel="stylesheet">
<link href="{{ baseurl }}{% static 'css/index.css' %}" rel="stylesheet">
<link href="{{ baseurl }}{% static 'css/rangeslider.css' %}" rel="stylesheet">
<link href="{{ baseurl }}{% static 'css/repeat-creator.css' %}" rel="stylesheet">
<link href="{{baseurl}}{% static 'assets/favico.png' %}" rel="icon" type="image/png">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ baseurl }}{% static 'js/bootstrap.min.js %}"></script>
<script src="{{ baseurl }}{% static 'js/rangeslider.min.js' %}"></script>
<script src="{{ baseurl }}{% static 'js/jquery.slidereveal.min.js' %}"></script>


<div id="repeat-creator" class="repeat-creator-container">
 <canvas id="repeat-creator-canvas">Lorem</canvas>
 <div class="repeat-adjust vertical hidden">
    <button class="decrement">-</button>
   <input id="vertical-adjust" min="50" max="100" value="100" type="range" step="1" />
   <button class="increment">+</button>
 </div>
 <div class="repeat-adjust horizontal hidden">
   <button class="decrement">-</button>
   <input id="horizontal-adjust" min="50" max="100" value="100" type="range" step="1" />
   <button class="increment">+</button>
 </div>
</div>